@import "tailwindcss";

@theme {
  --color-dark-grey-900: #0a0a0a;
  --color-dark-grey-800: #171717;
  --color-dark-grey-700: #272727;
  --color-light-grey-default: #efefef;

  --font-default: "Roboto", sans-serif;
  --font-primary: "Fira Sans Condensed", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-tertiary: "Big Shoulders", sans-serif;
  --font-quaternary: "Playfair Display", serif;
  --font-quinary: "Inter", serif;
  --font-senary: "Bebas Neue", sans-serif;
  --font-signature: "Qwitcher Grypen", cursive;

  --background-image-about-shape: url("/shapes/about-shape.svg");
  --background-image-fp-shape: url("/shapes/featured-project-shape.svg");
}

@layer components {
  .title-hero {
    @apply font-semibold font-primary text-white;
  }

  .text-decoration {
    @apply font-senary text-white mix-blend-difference;
    font-size: clamp(2rem, 18vw, 8rem);
  }

  .glow-cards {
    box-shadow:
      0 0 20px 3px rgb(255, 255, 255, 0.55),
      inset 0 0 20px 0px rgb(255, 255, 255, 0.5);
  }

  .glow-orb {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 80%);
    width: clamp(1.5rem, 40vw, 25rem);
    height: clamp(1.5rem, 40vw, 25rem);
    border-radius: 50%;
    box-shadow:
      0 0 40px 15px rgba(255, 255, 255, 0.35),
      inset 0 0 20px 15px rgba(255, 255, 255, 0.4);
  }

  .title-section {
    @apply font-tertiary font-extrabold text-[7rem];
  }
}

body {
  background-color: #0a0a0a;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}
